.one,
.three,
.five{
    background-color: rgb(241, 149, 229);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
.three{
    font-size: 24px;
    font-weight: bold;
}
#four{
    background-color: rgb(178, 241, 149);
    font-size: 24px;
    font-weight: bold;
}